{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="docs-detail">
            <nav class="docs-nav">
              <div class="select-version">
                <p>Reference Version: </p>
                <select class="version">
                  {{#each versions as |ver|}}
                  <option value="{{ver}}"{{#equals ver ../version}} selected="selected"{{/equals}}>v{{ver}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="nav-target"><!-- replaced with nav by js/docs-nav.js --></div>
              <ul class="package-list">
                  {{#each packages}}
                      <li>
                          <a href="/docs/{{this.name}}">{{this.name}}</a>
                      </li>
                  {{/each}}
              </ul>
            </nav>
            <div class="wrapper">
                {{{html}}}
            </div>
        </div>
    {{/inline}}

{{/layout}}
