{{#> layout title="Docs Detail" }}

    {{#*inline "content"}}
        <div class="main docs-detail l-navigablecontent">
          <nav class="l-navigablecontent__nav sidenav">
            <div class="select-version">
              <p>Reference Version: </p>
              <select id="version" class="version">
                {{#each versions as |ver|}}
                <option value="{{ver}}"{{#equals ver ../version}} selected="selected"{{/equals}}>v{{ver}}</option>
                {{/each}}
              </select>
              <div class="select-version__arrow"></div>
            </div>
            <div class="sidenav__target"><!-- replaced with nav by js/docs-nav.js --></div>
            <ul class="sidenav__others">
                {{#each packages as |package|}}
                    <li class="sidenav__other-item {{#equals package.name ../pkg.name}}sidenav__other-item--active{{/equals}}">
                      <a href="/docs/{{package.name}}">
                        <img src="/public/img/hapi-bolt{{#equals package.name ../pkg.name}}-gold{{/equals}}.svg" />
                        {{package.name}}
                      </a>
                    </li>
                {{/each}}
            </ul>
          </nav>
          <div class="l-navigablecontent__mobile-controls">
            <button class="l-navigablecontent__control-item l-navigablecontent__control-item--left">
                <img src="/public/img/menu-icon.svg" />
            </button>
            <button class="l-navigablecontent__control-item l-navigablecontent__control-item--right">
                <img src="/public/img/arrow-up.svg" />
            </button>
          </div>
          <div class="wrapper">
              <div class="docs-detail__pkg-links">
                  <a href="https://github.com/{{pkg.owner}}/{{pkg.name}}">github</a>
                  {{#if pkg.npm}}| <a href="https://www.npmjs.com/package/{{pkg.name}}">npm</a>{{/if}}
              </div>
              {{{html}}}
          </div>
        </div>
    {{/inline}}

{{/layout}}
